sm11_job_config = {
  CMS_LUMINOSITY_DATA = "null"
  CMS_JSON = "null"
  CMS_INPUT_FILES = "gs/higgs-tutorial/eos/opendata/cms/MonteCarlo2011/Summer11LegDR/ZZTo2e2mu_mll4_7TeV-powheg-pythia6/AODSIM/PU_S13_START53_LV6-v1/00000/F44F8968-6592-E411-8168-0025901D4936.root"
  CMS_OUTPUT_FILE = "/tmp/output.root"
  CMS_OUTPUT_JSON_FILE = "/tmp/output.json"
  CMS_S3_BASEDIR = "gs/higgs-tutorial/testoutputs/higgs4lbucket/run6/eventselection"
  CMS_OUTPUT_S3PATH = "sm11legdr_zzto2e2mu_mll4_7tev-pw-py6-0063.json"
  CMS_CONFIG = "/configs/demoanalyzer_cfg_level4MC.py"
  CMS_DATASET_NAME = "sm11legdr_zzto2e2mu_mll4_7tev-pw-py6"
  MC_MULTIPART_THREADS = "10"
  S3_ACCESS = ""
  S3_SECRET = ""
  S3_HOST = ""
  GCS_ACCESS = "my-access-key"
  GCS_SECRET = "my-secret-key"
  GCS_HOST = "https://storage.googleapis.com"
  GCS_PROJECT_ID = "my-project-name"
  DOWNLOAD_MAX_KB = "50000"
  UPLOAD_MAX_KB = "10000"
  REDIS_HOST = "higgs-redis-svc.default.svc.cluster.local"
  DPATH = "/dev/shm"
}
